.carrossel__titulo{
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  padding: 1em 0 0.5em 0;
}

.swiper-slide img {
  width: 100%;
}
.swiper-button-prev, .swiper-button-next{
  display: none;
}
.swiper-pagination{
  position: initial;
  margin: 0.5em 0;
}

.card__descricao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.card__botoes{
  display: flex;
  justify-content: space-between;
}
.botoes{
  display: flex;
}
.card{
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 1em;
  padding: 1em;
}
.descricao__titulo{
  color: var(--cor-secundaria);
  font-size: 16px;
  font-weight: 700;

}

.descricao__titulo-livro {
  color: var(--ciano-escuro);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.descicao__texto {
  color: rgba(0, 0, 0, 0.85);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.botoes__ancora{
  background-color: var(--cor-primaria);
  padding: 1em 2.43em;
  color: var(--cor-terciaria);
  font-weight: 700;
  text-decoration: none;
}

.descricao__imagem{
  width: 161px;
  height: 166px;
  flex-shrink: 0;
}


